---
layout: default
---

<div class="posts-home">
  <ul class="posts">
    {% for post in paginator.posts %}
      <li>

		<div class="container">
		    <div class="row-fluid">
				<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 text-center">
					{% if post.thumbnail != nil %}
          <a href="{{ post.url | prepend: site.baseurl }}">
            <img class="thumbnail img-responsive center-block" src="{{ post.thumbnail }}">
          </a>
					{% endif %}
				</div>
				<div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
				    <div class="row">
            <span class="post-date"><i class="fa fa-small fa-clock-o"></i> {{ post.date | date: "%-d %b %Y" }}</span>
						<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
						    {% include social.html %}

						<p>{{ post.content | strip_html | truncatewords: 100 }}
              <br>
              <br>
                <a class="post-link-small btn" href="{{ post.url | prepend: site.baseurl }}"> Continue...</a>
						</p>
				    </div>
				</div>
		    </div>
		</div>
		<hr/>
      </li>
    {% endfor %}
  </ul>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Traversoft Blog -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-4406878197705956"
	     data-ad-slot="1304820626"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
  </script>


{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-small fa-arrow-left" aria-hidden="true"></i> Newer</a>
  {% else %}
    <i class="fa fa-small fa-arrow-left" aria-hidden="true"></i><span> Newer</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      &nbsp;&nbsp;<strong>{{ page }}</strong>
    {% elsif page == 1 %}
      &nbsp;&nbsp;<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      &nbsp;&nbsp;<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    &nbsp;&nbsp;<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older <i class="fa fa-arrow-right fa-small" aria-hidden="true"></i></a>
  {% else %}
    &nbsp;&nbsp;<span>Older </span><i class="fa fa-arrow-right fa-small" aria-hidden="true"></i>
  {% endif %}
</div>
{% endif %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
